<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <p id="notice"><%= notice %></p>
        <% if user_signed_in? %>
        <div class="search_form text-center">
          <%= form_with url: search_path, method: :get do |f| %>
          <%= f.text_field :tag %>
          <%= f.submit "タグ検索", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% end %>
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
